<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Imports-and-Load-Data" data-toc-modified-id="Imports-and-Load-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Imports and Load Data</a></span></li><li><span><a href="#Inspect-Meta-Data" data-toc-modified-id="Inspect-Meta-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Inspect Meta Data</a></span><ul class="toc-item"><li><span><a href="#Weather_data_raw" data-toc-modified-id="Weather_data_raw-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Weather_data_raw</a></span></li><li><span><a href="#Trip-Data-Raw" data-toc-modified-id="Trip-Data-Raw-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Trip Data Raw</a></span></li></ul></li><li><span><a href="#Prepare-Weather-Data,-POI-Data-and-supplemental-Data" data-toc-modified-id="Prepare-Weather-Data,-POI-Data-and-supplemental-Data-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Prepare Weather Data, POI Data and supplemental Data</a></span><ul class="toc-item"><li><span><a href="#Prepare-Weather-Data" data-toc-modified-id="Prepare-Weather-Data-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Prepare Weather Data</a></span><ul class="toc-item"><li><span><a href="#Select-relevant-columns" data-toc-modified-id="Select-relevant-columns-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Select relevant columns</a></span></li><li><span><a href="#Unpack-/-Format-Columns" data-toc-modified-id="Unpack-/-Format-Columns-3.1.2"><span class="toc-item-num">3.1.2&nbsp;&nbsp;</span>Unpack / Format Columns</a></span></li><li><span><a href="#Check-for-Outliers-/-Validity" data-toc-modified-id="Check-for-Outliers-/-Validity-3.1.3"><span class="toc-item-num">3.1.3&nbsp;&nbsp;</span>Check for Outliers / Validity</a></span></li><li><span><a href="#Visualize-Data" data-toc-modified-id="Visualize-Data-3.1.4"><span class="toc-item-num">3.1.4&nbsp;&nbsp;</span>Visualize Data</a></span></li></ul></li><li><span><a href="#Prepare-POI-Data" data-toc-modified-id="Prepare-POI-Data-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Prepare POI Data</a></span></li><li><span><a href="#Prepare-Supplemental-Data" data-toc-modified-id="Prepare-Supplemental-Data-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Prepare Supplemental Data</a></span><ul class="toc-item"><li><span><a href="#Prepare-sport-event-data" data-toc-modified-id="Prepare-sport-event-data-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Prepare sport event data</a></span></li></ul></li></ul></li><li><span><a href="#Prepare-Trip-Data" data-toc-modified-id="Prepare-Trip-Data-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Prepare Trip Data</a></span><ul class="toc-item"><li><span><a href="#Prepare-spatial-Columns" data-toc-modified-id="Prepare-spatial-Columns-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Prepare spatial Columns</a></span><ul class="toc-item"><li><span><a href="#Check-granularity" data-toc-modified-id="Check-granularity-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Check granularity</a></span></li><li><span><a href="#Check-for-missing-data" data-toc-modified-id="Check-for-missing-data-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Check for missing data</a></span></li><li><span><a href="#Convert-to-geopandas-column" data-toc-modified-id="Convert-to-geopandas-column-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>Convert to geopandas column</a></span></li><li><span><a href="#Create-H3-discretization" data-toc-modified-id="Create-H3-discretization-4.1.4"><span class="toc-item-num">4.1.4&nbsp;&nbsp;</span>Create H3 discretization</a></span></li><li><span><a href="#TODO:-WE-NEED-TO-RENAME-STUFF" data-toc-modified-id="TODO:-WE-NEED-TO-RENAME-STUFF-4.1.5"><span class="toc-item-num">4.1.5&nbsp;&nbsp;</span>TODO: WE NEED TO RENAME STUFF</a></span></li><li><span><a href="#Visualize-Data" data-toc-modified-id="Visualize-Data-4.1.6"><span class="toc-item-num">4.1.6&nbsp;&nbsp;</span>Visualize Data</a></span></li></ul></li><li><span><a href="#Check-for-duplicates" data-toc-modified-id="Check-for-duplicates-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Check for duplicates</a></span></li><li><span><a href="#Handling-missing-values" data-toc-modified-id="Handling-missing-values-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Handling missing values</a></span></li><li><span><a href="#Check-validity/-handle-outliers" data-toc-modified-id="Check-validity/-handle-outliers-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Check validity/ handle outliers</a></span></li><li><span><a href="#Join-Datasets" data-toc-modified-id="Join-Datasets-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Join Datasets</a></span></li></ul></li><li><span><a href="#Feature-Engineering-&amp;-Selection" data-toc-modified-id="Feature-Engineering-&amp;-Selection-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Feature Engineering &amp; Selection</a></span><ul class="toc-item"><li><span><a href="#Prediction-Task" data-toc-modified-id="Prediction-Task-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Prediction Task</a></span><ul class="toc-item"><li><span><a href="#Create-different-Time-Bins" data-toc-modified-id="Create-different-Time-Bins-5.1.1"><span class="toc-item-num">5.1.1&nbsp;&nbsp;</span>Create different Time Bins</a></span></li><li><span><a href="#Create-Cyclical-Time-Features-with-Sine-and-Cosine-Transformation" data-toc-modified-id="Create-Cyclical-Time-Features-with-Sine-and-Cosine-Transformation-5.1.2"><span class="toc-item-num">5.1.2&nbsp;&nbsp;</span>Create Cyclical Time Features with Sine and Cosine Transformation</a></span></li><li><span><a href="#Create-Lagged-Time-Features" data-toc-modified-id="Create-Lagged-Time-Features-5.1.3"><span class="toc-item-num">5.1.3&nbsp;&nbsp;</span>Create Lagged Time Features</a></span></li><li><span><a href="#Visualize-Relationship-between-Predictors-and-dependent-Variable" data-toc-modified-id="Visualize-Relationship-between-Predictors-and-dependent-Variable-5.1.4"><span class="toc-item-num">5.1.4&nbsp;&nbsp;</span>Visualize Relationship between Predictors and dependent Variable</a></span></li></ul></li></ul></li><li><span><a href="#Export-new-Datasets" data-toc-modified-id="Export-new-Datasets-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Export new Datasets</a></span></li></ul></div>

# Imports and Load Data

In [1]:
import ast
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import json
import geopandas as gpd
from shapely.geometry import shape
from shapely.geometry import Point
from shapely.geometry import Polygon
from h3 import h3
from scipy.stats import zscore
from datetime import timedelta
#import census

In [2]:
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
def convert_to_point(row):
    try:
        geo_dict = ast.literal_eval(row)
        coordinates = geo_dict['coordinates']
        return Point(coordinates[0], coordinates[1])
    except (KeyError, ValueError, SyntaxError):
        # Handle cases where the format is not as expected
        return None

In [4]:
trip_data_raw = pd.read_csv(
    r'../data/chicago_taxi_data.csv',
    index_col=None,
    nrows=300000,
    dtype={
        'payment_type': 'category',
        'company': 'category'
    },
    converters= {'pickup_centroid_location': convert_to_point,
                 'dropoff_centroid_location':convert_to_point
                },          
    parse_dates=['trip_start_timestamp', 'trip_end_timestamp'])

In [5]:
weather_data_raw = pd.read_csv(r'../data/weather_raw.csv',
                               dtype={},
                               index_col=None)

In [6]:
sports_data = pd.read_csv(r'../data/sports_data.csv',
                          usecols={'Game_End','h3_res_8'},
                          parse_dates=['Game_End'],
                          index_col=None)

In [7]:
poi_data = pd.read_csv(r'../data/poi_data.csv',
                        usecols={'h3_res_4', 'h3_res_6','h3_res_8'},
                        index_col=None)

# Inspect Meta Data

## Weather_data_raw

In [8]:
weather_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10452 entries, 0 to 10451
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         10452 non-null  object
 1   Time         10452 non-null  object
 2   Temperature  10452 non-null  object
 3   Dew Point    10452 non-null  object
 4   Humidity     10452 non-null  object
 5   Wind         10452 non-null  object
 6   Wind Speed   10452 non-null  object
 7   Wind Gust    10452 non-null  object
 8   Pressure     10452 non-null  object
 9   Precip.      10452 non-null  object
 10  Condition    10452 non-null  object
dtypes: object(11)
memory usage: 898.3+ KB

In [9]:
weather_data_raw.describe()

,date,Time,Temperature,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Precip.,Condition
count,10452,10452,10452,10452,10452,10452,10452,10452,10452,10452,10452
unique,364,959,106,96,85,18,29,32,144,10,39
top,2018-05-08,7:53 PM,34 °F,65 °F,93 %,SSW,9 mph,0 mph,29.27 in,0.0 in,Cloudy
freq,74,366,293,256,474,923,1000,8781,441,10056,2626

In [10]:
weather_data_raw.head(5)

,date,Time,Temperature,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Precip.,Condition
0,2018-01-01,1:53 AM,-1 °F,-12 °F,60 %,WNW,8 mph,0 mph,29.96 in,0.0 in,Fair
1,2018-01-01,2:53 AM,-2 °F,-13 °F,60 %,WNW,10 mph,0 mph,29.98 in,0.0 in,Fair
2,2018-01-01,3:53 AM,-3 °F,-14 °F,59 %,NW,12 mph,0 mph,29.98 in,0.0 in,Fair
3,2018-01-01,4:53 AM,-4 °F,-15 °F,59 %,NW,12 mph,0 mph,29.98 in,0.0 in,Fair
4,2018-01-01,5:53 AM,-5 °F,-15 °F,62 %,WNW,9 mph,0 mph,29.98 in,0.0 in,Partly Cloudy

## Trip Data Raw

In [11]:
trip_data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 23 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   trip_id                     300000 non-null  object
 1   taxi_id                     299992 non-null  object
 2   trip_start_timestamp        300000 non-null  datetime64[ns]
 3   trip_end_timestamp          299998 non-null  datetime64[ns]
 4   trip_seconds                299987 non-null  float64
 5   trip_miles                  299990 non-null  float64
 6   pickup_census_tract         182099 non-null  float64
 7   dropoff_census_tract        180946 non-null  float64
 8   pickup_community_area       271120 non-null  float64
 9   dropoff_community_area      264651 non-null  float64
 10  fare                        299984 non-null  float64
 11  tips                        299984 non-null  float64
 12  tolls                       212493 non-null  float64
 13  extras                      299984 non-null  float64
 14  trip_total                  299984 non-null  float64
 15  payment_type                300000 non-null  category
 16  company                     300000 non-null  category
 17  pickup_centroid_latitude    271334 non-null  float64
 18  pickup_centroid_longitude   271334 non-null  float64
 19  pickup_centroid_location    271334 non-null  object
 20  dropoff_centroid_latitude   265461 non-null  float64
 21  dropoff_centroid_longitude  265461 non-null  float64
 22  dropoff_centroid_location   265461 non-null  object
dtypes: category(2), datetime64[ns](2), float64(15), object(4)
memory usage: 48.6+ MB

In [12]:
trip_data_raw.describe()

,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,fare,tips,tolls,extras,trip_total,pickup_centroid_latitude,pickup_centroid_longitude,dropoff_centroid_latitude,dropoff_centroid_longitude
count,300000,299998,299987.000000,299990.000000,1.820990e+05,1.809460e+05,271120.000000,264651.000000,299984.000000,299984.000000,212493.000000,299984.000000,299984.000000,271334.000000,271334.000000,265461.000000,265461.000000
mean,2018-01-04 07:57:30.276000,2018-01-04 08:08:57.726584576,681.700507,3.298192,1.703138e+10,1.703135e+10,24.623768,21.305867,12.423408,1.294975,0.004931,0.964671,14.782678,41.901167,-87.662549,41.901070,-87.652773
min,2018-01-01 00:15:00,2018-01-01 00:15:00,0.000000,0.000000,1.703101e+10,1.703101e+10,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.660136,-87.913625,41.660136,-87.913625
25%,2018-01-02 18:30:00,2018-01-02 18:45:00,300.000000,0.600000,1.703108e+10,1.703108e+10,8.000000,8.000000,5.500000,0.000000,0.000000,0.000000,6.500000,41.880994,-87.655998,41.880994,-87.655998
50%,2018-01-04 12:00:00,2018-01-04 12:15:00,480.000000,1.220000,1.703128e+10,1.703128e+10,28.000000,16.000000,7.500000,0.000000,0.000000,0.000000,9.000000,41.892073,-87.632746,41.892508,-87.633308
75%,2018-01-05 17:30:00,2018-01-05 17:45:00,836.000000,3.100000,1.703184e+10,1.703183e+10,32.000000,32.000000,12.250000,2.000000,0.000000,1.000000,14.160000,41.904935,-87.626211,41.914616,-87.626211
max,2018-01-07 16:45:00,2018-01-08 15:45:00,86340.000000,783.700000,1.703198e+10,1.703198e+10,77.000000,77.000000,8000.900000,500.000000,75.000000,1414.120000,8050.970000,42.015934,-87.534903,42.021224,-87.534903
std,NaN,NaN,1223.341196,5.497132,3.405399e+05,3.265682e+05,20.413084,17.365021,51.797434,2.694211,0.446381,4.224788,52.880095,0.040519,0.077099,0.039415,0.055798

In [13]:
trip_data_raw.head(20)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,extras,trip_total,payment_type,company,pickup_centroid_latitude,pickup_centroid_longitude,pickup_centroid_location,dropoff_centroid_latitude,dropoff_centroid_longitude,dropoff_centroid_location
0,d7bf7332e89c6597d682495ac78a325c2ed4183f,d0653a3c1a990641559a9e6e7c0e07db3765fe11e48ad7...,2018-01-01 00:15:00,2018-01-01 00:30:00,1080.0,3.7,NaN,NaN,NaN,NaN,...,0.0,17.55,Credit Card,Choice Taxi Association,NaN,NaN,None,NaN,NaN,None
1,c8769473b60b18f700afce0f812f6d80c3616ca7,21c5d83c2cb73035c6c4d35da452ff1714aff86f5efb32...,2018-01-01 00:15:00,2018-01-01 00:30:00,240.0,0.3,NaN,NaN,NaN,NaN,...,1.0,5.50,Cash,Choice Taxi Association,NaN,NaN,None,NaN,NaN,None
2,c52d1cd141c3036d091ed85cbf7a973cc5c1243e,a6c3cb7ab4c037a7db9e2fd3513f28e0ff17c8547a70bd...,2018-01-01 00:15:00,2018-01-01 00:15:00,60.0,0.4,NaN,NaN,NaN,NaN,...,0.0,3.75,Cash,Dispatch Taxi Affiliation,NaN,NaN,None,NaN,NaN,None
3,b5714d1d2118642f789ab0fec542f597f986c251,d8238dd38b47fc0268e0bd92bba094676752dfefeafea9...,2018-01-01 00:15:00,2018-01-01 00:30:00,840.0,2.7,NaN,NaN,NaN,NaN,...,1.0,11.50,Cash,Star North Management LLC,NaN,NaN,None,NaN,NaN,None
4,0352e306e7cc33a455c3be20764ad2ce9881216a,7698f29134c0f429f821af4e89a8f769b85e376bd37b3c...,2018-01-01 00:15:00,2018-01-01 00:15:00,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,14.50,Credit Card,Suburban Dispatch LLC,NaN,NaN,None,NaN,NaN,None
5,594e15b562a96bd7cafac7211fb71ff4331ee803,45ae9d400abb9327b717e4d8849843ad78e40d7a72e324...,2018-01-01 00:15:00,2018-01-01 00:30:00,720.0,6.5,NaN,NaN,NaN,NaN,...,4.0,22.00,Cash,Dispatch Taxi Affiliation,NaN,NaN,None,NaN,NaN,None
6,2896540c849ebc75c05af74af4b969759eaa5fa3,3fb54b9070b703bd28358e704311d7fe8afb6950881654...,2018-01-01 00:15:00,2018-01-01 00:30:00,660.0,0.5,NaN,NaN,NaN,NaN,...,0.0,7.25,Cash,KOAM Taxi Association,NaN,NaN,None,NaN,NaN,None
7,71b0b8528bb56e921997c6de6190257fe2e58dcd,0c722e1c967f929866e205cde7aefefae970c66351c0db...,2018-01-01 00:15:00,2018-01-01 00:15:00,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,44.00,Credit Card,Suburban Dispatch LLC,NaN,NaN,None,NaN,NaN,None
8,047773cc8210996a8f88ad023c79c86bba5423de,9454a3cb5d7e8ef84ca9bfff9f1a5d235021fef66b41a8...,2018-01-01 00:15:00,2018-01-01 00:15:00,0.0,0.0,NaN,NaN,NaN,NaN,...,0.0,11.00,Credit Card,Suburban Dispatch LLC,NaN,NaN,None,NaN,NaN,None
9,80447e42e7ad6f32607bdcbba79725b3ea8bc094,5e2cdbf8e29532911397d269fc7777dbe01700c6dbc517...,2018-01-01 00:15:00,2018-01-01 00:15:00,480.0,0.2,NaN,NaN,NaN,NaN,...,0.0,5.75,Cash,Choice Taxi Association,NaN,NaN,None,NaN,NaN,None
10,a6673cb2888d07e963a35fedd3a635ac1b11c3d4,21c5d83c2cb73035c6c4d35da452ff1714aff86f5efb32...,2018-01-01 00:15:00,2018-01-01 00:15:00,420.0,0.7,NaN,NaN,NaN,NaN,...,1.0,9.00,Credit Card,Choice Taxi Association,NaN,NaN,None,NaN,NaN,None
11,0a0a2ca50df85134ce34f0c2c7bda6e78ca2a52c,bbe793119144e0bd97a4268af2a28ed0f3dad49545592c...,2018-01-01 00:15:00,2018-01-01 00:15:00,180.0,0.0,1.703108e+10,1.703132e+10,8.0,32.0,...,1.0,7.00,Credit Card,Blue Ribbon Taxi Association Inc.,41.892508,-87.626215,POINT (-87.62621490639999 41.8925077809),41.884987,-87.620993,POINT (-87.6209929134 41.8849871918)
12,7c46253c55f14a47b0bdd41baa1abc0366d64c58,99ab5248605aa4afb82e6be7d50d531fd8e423980159bb...,2018-01-01 00:15:00,2018-01-01 00:15:00,120.0,0.7,NaN,NaN,5.0,5.0,...,2.0,6.75,Cash,Star North Management LLC,41.947792,-87.683835,POINT (-87.6838349425 41.9477915865),41.947792,-87.683835,POINT (-87.6838349425 41.9477915865)
13,ac1fae1544d7804f13fbf657cb058ba91a983fea,847cf962bd6f62040673e6c24c24940aeb2d7fdaa54677...,2018-01-01 00:15:00,2018-01-01 00:30:00,960.0,2.6,1.703107e+10,1.703108e+10,7.0,8.0,...,0.0,11.00,Cash,Taxi Affiliation Services,41.914616,-87.631717,POINT (-87.63171736610001 41.9146162864),41.907520,-87.626659,POINT (-87.6266589003 41.90752007470001)
14,b7e939ebeb25eee245afd346ff63adeb0139e6d7,efd204f38a83a59df5bf4a1fe004aa291183e235ee40ee...,2018-01-01 00:15:00,2018-01-01 00:30:00,1260.0,0.0,1.703108e+10,1.703108e+10,8.0,8.0,...,2.5,13.00,Cash,Star North Management LLC,41.892073,-87.628874,POINT (-87.6288741572 41.8920726347),41.891972,-87.612945,POINT (-87.6129454143 41.8919715078)
15,29f96067e9339e477e983efddd6395a2a8557c45,92725f67f872c1d48d77ffa906f837c6a5f20f5a597a8d...,2018-01-01 00:15:00,2018-01-01 00:30:00,660.0,0.0,1.703108e+10,1.703124e+10,8.0,24.0,...,1.5,12.50,Cash,Blue Ribbon Taxi Association Inc.,41.907492,-87.635760,POINT (-87.63576009010001 41.9074919303),41.899590,-87.674719,POINT (-87.67471913449999 41.8995897957)
16,967a2dad921818b54a19b27a9c67310f7cfb9f2c,609fa4bfe241aacb61e59c5b52abcbbd467b8e71d53dd9...,2018-01-01 00:15:00,2018-01-01 00:30:00,300.0,0.9,1.703108e+10,1.703108e+10,8.0,8.0,...,1.5,7.00,Cash,Choice Taxi Association,41.892042,-87.631864,POINT (-87.6318639497 41.8920421365),41.891972,-87.612945,POINT (-87.6129454143 41.8919715078)
17,a6ecf116e5ed732519617bf003100af806fa1f02,1061d157b2a98a1b1e7871639b836de5fb521101d08d73...,2018-01-01 00:15:00,2018-01-01 00:30:00,180.0,0.8,NaN,NaN,6.0,6.0,...,2.0,7.00,Cash,Taxi Affiliation Services,41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014)
18,e4bcdde34928852b0d8ed4641f4c0533e06a29ab,c38a211cb84a44a24e959493d5842a48dd150b1e947b30...,2018-01-01 00:15:00,2018-01-01 00:30:00,1320.0,0.2,1.703107e+10,1.703184e+10,7.0,32.0,...,1.5,16.75,Cash,Taxi Affiliation Services,41.921855,-87.646211,POINT (-87.64621097689999 41.9218549112),41.880994,-87.632746,POINT (-87.63274648869999 41.8809944707)
19,649cae1facf2431d6e5578fec8cadfef46d79841,15dd49f5b45c96f8f6dd62e5a50224a9b8abd8bc891648...,2018-01-01 00:15:00,2018-01-01 00:30:00,900.0,0.9,1.703108e+10,1.703108e+10,8.0,8.0,...,1.0,9.75,Cash,Choice Taxi Association,41.902788,-87.626146,POINT (-87.6261455896 41.9027880476),41.892508,-87.626215,POINT (-87.62621490639999 41.8925077809)

   # Prepare Weather Data, POI Data and supplemental Data

## Prepare Weather Data

* select relevant columns
* unpack/format columns
* check for outliers/ validity

### Select relevant columns

In [14]:
weather_data_raw.drop(
    ['Dew Point', 'Humidity', 'Wind', 'Wind Gust', 'Pressure'],
    axis=1,
    inplace=True)

### Unpack / Format Columns

In [15]:
def format_columns_weather(row):

    return pd.Series(data={
        'date': extract_time_weather(row['date'], row['Time']),
        'temperature': format_temperature(row['Temperature']),
        'wind_speed': format_wind(row['Wind Speed']),
        'condition': row['Condition'],
        'precipitation': format_precipitation(row['Precip.'])
    },
                     index=None)


def extract_time_weather(date_cell, Time_cell):

    date = pd.to_datetime(date_cell + "-" + Time_cell,
                          format='%Y-%m-%d-%I:%M %p')

    return date


def format_temperature(temp_cell):

    temp_cell = temp_cell.replace('°F', "")
    temp_cell = temp_cell.strip()

    return (int(temp_cell) - 32) * 5 / 9  # transform Fahrenheit into celsius


def format_wind(wind_cell):

    return int(wind_cell.replace("mph", "").strip())


def format_precipitation(precip_cell):
    return float(precip_cell.replace("in", "").strip())

In [16]:
weather_data = pd.DataFrame(weather_data_raw.apply(
    lambda row: format_columns_weather(row), axis=1),
                            index=None)

In [17]:
weather_data.head(2)

                 date  temperature  wind_speed condition  precipitation
0 2018-01-01 01:53:00   -18.333333           8      Fair            0.0
1 2018-01-01 02:53:00   -18.888889          10      Fair            0.0

### Check for Outliers / Validity

In [18]:
weather_data.describe()

,date,temperature,wind_speed,precipitation
count,10452,10452.000000,10452.000000,10452.000000
mean,2018-06-30 15:17:31.228473344,10.811806,9.826062,0.006764
min,2018-01-01 01:53:00,-22.777778,0.000000,0.000000
25%,2018-03-31 03:38:00,1.111111,6.000000,0.000000
50%,2018-06-26 19:23:00,10.000000,9.000000,0.000000
75%,2018-10-02 04:03:45,21.111111,13.000000,0.000000
max,2018-12-30 00:53:00,35.555556,40.000000,1.100000
std,NaN,11.599960,5.101400,0.045327

### Visualize Data

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Sicherstellen, dass die 'date'-Spalte datetime-Objekte enthält
weather_data['date'] = pd.to_datetime(weather_data['date'])

# Erstellung der Unterplots
fig, ax = plt.subplots(2, 1, figsize=(16, 16))

# Erster Plot: Temperatur-Zeitreihe
ax[0].grid(True, color='gray')
sns.lineplot(data=weather_data, x='date', y='temperature', ax=ax[0])
ax[0].set_xlabel('Date')
ax[0].set_ylabel('Temperature (Celsius)')

# Zweiter Plot: Wöchentliche Niederschlagsmittelwerte
# Sicherstellen, dass die 'precipitation'-Spalte numerisch ist
visualize_precipitation = weather_data[['date', 'precipitation']].set_index('date').resample('W').mean().reset_index()

sns.barplot(data=visualize_precipitation, x='date', y='precipitation', ax=ax[1])
ax[1].set_ylabel('Average Precipitation per Week')
ax[1].set_xlabel('Date')
ax[1].set_xticks(ax[1].get_xticks()[::4])
ax[1].set_xticklabels(visualize_precipitation['date'].dt.strftime('%Y-%m-%d')[::4], rotation=45)

plt.show()

## Prepare POI  and Sports Data

In [19]:
poi_data['poi'] =1
poi_data=poi_data.rename(columns={'h3_res_8' : 'h3_res_8_pickup',
                                  'h3_res_6' : 'h3_res_6_pickup',
                                  'h3_res_4' : 'h3_res_4_pickup',            
                                 })
poi_data.head(3)

   h3_res_4_pickup  h3_res_6_pickup  h3_res_8_pickup  poi
0  842664dffffffff  862664d8fffffff  882664d8c1fffff    1
1  842664dffffffff  862664c17ffffff  882664c169fffff    1
2  842664dffffffff  862664c17ffffff  882664c16bfffff    1

In [20]:
poi_data_h3_res_8 = poi_data[['h3_res_8_pickup','poi']].groupby('h3_res_8_pickup', as_index=False).sum()
poi_data_h3_res_8 = poi_data_h3_res_8.rename(columns={'poi' : 'poi_h3_res_8'})
poi_data_h3_res_6 = poi_data[['h3_res_6_pickup','poi']].groupby('h3_res_6_pickup', as_index=False).sum()
poi_data_h3_res_6 = poi_data_h3_res_6.rename(columns={'poi' : 'poi_h3_res_6'})
poi_data_h3_res_4 = poi_data[['h3_res_4_pickup','poi']].groupby('h3_res_4_pickup', as_index=False).sum()
poi_data_h3_res_4 = poi_data_h3_res_4.rename(columns={'poi' : 'poi_h3_res_4'})
print(poi_data_h3_res_8['h3_res_8_pickup'].nunique())

429

In [21]:
poi_data_h3_res_8.head(10)

   h3_res_8_pickup  poi_h3_res_8
0  8826641949fffff             5
1  88266419edfffff             2
2  8826641b25fffff             1
3  8826641b35fffff             1
4  8826645207fffff             1
5  882664520bfffff             1
6  8826645211fffff             2
7  8826645217fffff             1
8  8826645219fffff             1
9  882664522bfffff             3

In [22]:
sports_data['sports_event'] = 1
sports_data=sports_data.rename(columns={'h3_res_8' : 'h3_res_8_pickup'})
sports_data.head(3)

             Game_End  h3_res_8_pickup  sports_event
0 2018-09-17 23:00:00  882664c1b1fffff             1
1 2018-09-30 15:00:00  882664c1b1fffff             1
2 2018-10-21 16:00:00  882664c1b1fffff             1

# Prepare Trip Data

* decide which geographical column(s) for spatial analysis/ feature
* handle missing values
* check for outliers
* check for data validity
* prepare spatial data
* normalize data
* cut into taskspecific datasets & export new data

## Prepare spatial Columns

**<font size=4>Pickup/Dropoff_census_tract</font>**

**Definition of ChatGPT:** "A census tract is a geographic area defined by the United States Census Bureau for the purpose of taking the census. Census tracts are relatively small, permanent subdivisions of a county or equivalent entity that are updated by local participants prior to each decennial census as part of the Census Bureau's Participant Statistical Areas Program."

* **Demographic Analysis:** Census tracts are often associated with specific demographic characteristics, such as income levels, population density, and racial composition. Analyzing taxi trip data in conjunction with census tract demographics can provide insights into the socioeconomic factors influencing travel patterns.

* --> install CensusData package to obtain demographic data

* --> demographic data interesting for prediction task? --> a lot of missing data compared to other spatial columns, so that other for prediction

**<font size=4>Longitude/ Latitude Columns</font>**

* containts the same data as the location columns but in more columns
* --> are more efficient in storing 
* --> however, more missing values compared to the location column
* --> discrepancy between location and longitude / latitude column
     * --> maybe other granualrity?
     
**<font size=4>Centroid Location Column</font>**

* contains a point which consists for the longitude and latitude -> has the least missing values
* -> candidate for prediciton/ cluster task?


-> see if spatial data is on the same granularity: if yes fill missing values of the other coordinates

### Check granularity

In [23]:
print(trip_data_raw['pickup_centroid_latitude'].nunique())
print(trip_data_raw['pickup_centroid_location'].nunique())
print(trip_data_raw['pickup_census_tract'].nunique())

280
280
252

Census tract data seem to be of a finer grid than the rest of the data -> difficult to map from the locaton_data to the census tract data

### Check for missing data

In [24]:
print(
    len(trip_data_raw.loc[
        ~pd.isna(trip_data_raw['pickup_centroid_latitude'])
        ^ ~pd.isna(trip_data_raw['pickup_centroid_longitude'])]),
    "number of columns were either pickup_centroid_latitude xor pickup_centroid_longitude is filled\n"
)
print(
    len(trip_data_raw.loc[
        ~pd.isna(trip_data_raw['pickup_centroid_latitude'])
        ^ ~pd.isna(trip_data_raw['pickup_centroid_location'])]),
    "number of columns were either pickup_centroid_latitude xor pickup_centroid_location is filled\n"
)
print(
    len(trip_data_raw.loc[
        ~pd.isna(trip_data_raw['pickup_centroid_latitude'])
        & ~pd.isna(trip_data_raw['pickup_centroid_location'])]),
    "number of columns were either pickup_centroid_latitude and pickup_centroid_longitude and pickup_centroid_location are filled\n"
)
print(
    len(trip_data_raw.loc[pd.isna(trip_data_raw['pickup_centroid_latitude'])
                          & ~pd.isna(trip_data_raw['pickup_census_tract'])]),
    "number of columns were pickup_centroid_latitude and pickup_centroid_longitude and pickup_centroid_location are not filled but census trackt\n"
)

print(
    len(trip_data_raw.loc[~pd.isna(trip_data_raw['pickup_centroid_latitude'])
                          & pd.isna(trip_data_raw['pickup_census_tract'])]),
    "number of columns were pickup_centroid_latitude and pickup_centroid_longitude and pickup_centroid_location are filled but census trackt not\n"
)

0 number of columns were either pickup_centroid_latitude xor pickup_centroid_longitude is filled

0 number of columns were either pickup_centroid_latitude xor pickup_centroid_location is filled

271334 number of columns were either pickup_centroid_latitude and pickup_centroid_longitude and pickup_centroid_location are filled

229 number of columns were pickup_centroid_latitude and pickup_centroid_longitude and pickup_centroid_location are not filled but census trackt

89464 number of columns were pickup_centroid_latitude and pickup_centroid_longitude and pickup_centroid_location are filled but census trackt not

In [25]:
print(
    len(trip_data_raw.loc[
        ~pd.isna(trip_data_raw['dropoff_centroid_latitude'])
        ^ ~pd.isna(trip_data_raw['dropoff_centroid_longitude'])]),
    "number of columns were either dropoff_centroid_latitude xor dropoff_centroid_longitude is filled\n"
)
print(
    len(trip_data_raw.loc[
        ~pd.isna(trip_data_raw['dropoff_centroid_latitude'])
        ^ ~pd.isna(trip_data_raw['dropoff_centroid_location'])]),
    "number of columns were either dropoff_centroid_latitude xor dropoff_centroid_location is filled\n"
)
print(
    len(trip_data_raw.loc[
        ~pd.isna(trip_data_raw['dropoff_centroid_latitude'])
        & ~pd.isna(trip_data_raw['dropoff_centroid_location'])]),
    "number of columns were either dropoff_centroid_latitude and dropoff_centroid_longitude and dropoff_centroid_location are filled\n"
)
print(
    len(trip_data_raw.loc[pd.isna(trip_data_raw['dropoff_centroid_latitude'])
                          & ~pd.isna(trip_data_raw['dropoff_census_tract'])]),
    "number of columns were dropoff_centroid_latitude and dropoff_centroid_longitude and dropoff_centroid_location are not filled but census trackt\n"
)

print(
    len(trip_data_raw.loc[~pd.isna(trip_data_raw['dropoff_centroid_latitude'])
                          & pd.isna(trip_data_raw['dropoff_census_tract'])]),
    "number of columns were dropoff_centroid_latitude and dropoff_centroid_longitude and dropoff_centroid_location are filled but census trackt %notebook\n"
)

0 number of columns were either dropoff_centroid_latitude xor dropoff_centroid_longitude is filled

0 number of columns were either dropoff_centroid_latitude xor dropoff_centroid_location is filled

265461 number of columns were either dropoff_centroid_latitude and dropoff_centroid_longitude and dropoff_centroid_location are filled

555 number of columns were dropoff_centroid_latitude and dropoff_centroid_longitude and dropoff_centroid_location are not filled but census trackt

85070 number of columns were dropoff_centroid_latitude and dropoff_centroid_longitude and dropoff_centroid_location are filled but census trackt %notebook

**Summary**
* If centroid_location is NaN so are centroid_latitude and centroide_longitude and the other way around
* However, there is census tract data where latitude, longitude and location data is NaN. But is not much so that can be    neglected and the NaN rows can be deleted
* there is more pickoff data than dropoff -> dropoff is not need for demand prediction task
* around ~2 Millionen rows have missing location data: 10% of the overall dataset

**Drop missing geographical data**

as described above in section 4.1 we cannot recover the missing data (expect for the ~40000) 
so we decided to drop the NaN columns

In [26]:
# as described above in section 4.1 we cannot recover the missing data (expect for the ~40000)
# so we decided to drop the NaN columns

trip_data_raw.dropna(subset=['dropoff_centroid_location'], inplace=True)
trip_data_raw.dropna(subset=['pickup_centroid_location'], inplace=True)
print(len(trip_data_raw))

262349

In [27]:
trip_data_raw.drop([
    'dropoff_centroid_latitude', 'pickup_centroid_latitude',
    'pickup_centroid_longitude', 'dropoff_centroid_longitude'
],
                   axis=1,
                   inplace=True)

### Convert to geopandas column

In [28]:
trip_data_raw_geo = gpd.GeoDataFrame(trip_data_raw,
                                     geometry='pickup_centroid_location')
trip_data_raw_geo.set_geometry('dropoff_centroid_location', inplace=True)

### Create H3 discretization

In [29]:
resolutions = [4,6,8]

In [30]:
def vectorized_h3(df, column, res):
    
    lats = df[column].y.to_numpy()
    lngs = df[column].x.to_numpy()

    vectorized_h3 = np.vectorize(lambda lat, lng: h3.geo_to_h3(lat, lng, resolution=res))
    
    return vectorized_h3(lats, lngs)

In [31]:
for res in resolutions:

    trip_data_raw_geo[f'h3_res_{res}_pickup'] = vectorized_h3(trip_data_raw_geo, 'pickup_centroid_location', res)
    trip_data_raw_geo[f'h3_res_{res}_dropoff'] = vectorized_h3(trip_data_raw_geo, 'dropoff_centroid_location', res)

In [32]:
for res in resolutions:
    print(trip_data_raw_geo[f'h3_res_{res}_pickup'].nunique())

4
27
195

### Visualize Data

figure, ax = plt.subplots(figsize=(16, 9))

figure_pickup_location = trip_data_raw_geo[['pickup_centroid_location']]
figure_dropoff_location = trip_data_raw_geo[['dropoff_centroid_location']]

figure_pickup_location = figure_pickup_location.set_geometry(
    'pickup_centroid_location')
figure_dropoff_location = figure_dropoff_location.set_geometry(
    'dropoff_centroid_location')

figure_pickup_location.crs = 'epsg:4326'
figure_dropoff_location.crs = 'epsg:4326'

figure_pickup_location = figure_pickup_location.to_crs(epsg=3857)
figure_dropoff_location = figure_dropoff_location.to_crs(epsg=3857)

figure_pickup_location.plot(color='green', ax=ax, marker='o', markersize=7)
figure_dropoff_location.plot(color='blue',
                             ax=ax,
                             marker='o',
                             markersize=7,
                             alpha=0.01)

#ctx.add_basemap(ax=ax, zoom=12)

visualize_hexagons_6 = trip_data_raw_geo[['h3_res_6']].copy()
visualize_hexagons_6['number'] = 1

visualize_hexagons_6 = visualize_hexagons_6.groupby(['h3_res_6'],
                                                    as_index=False).sum()

visualize_hexagons_4 = trip_data_raw_geo[['h3_res_4']].copy()
visualize_hexagons_4['number'] = 1

visualize_hexagons_4 = visualize_hexagons_4.groupby(['h3_res_4'],
                                                    as_index=False).sum()

visualize_hexagons_8 = trip_data_raw_geo[['h3_res_8']].copy()
visualize_hexagons_8['number'] = 1

visualize_hexagons_8 = visualize_hexagons_8.groupby(['h3_res_8'],
                                                    as_index=False).sum()

visualize_hexagons_6['h3_res_6_geo'] = visualize_hexagons_6['h3_res_6'].apply(
    lambda x: shape({
        'type': 'Polygon',
        'coordinates': [h3.h3_to_geo_boundary(x, geo_json=True)],
        'properties': ''
    }))
visualize_hexagons_4['h3_res_4_geo'] = visualize_hexagons_4['h3_res_4'].apply(
    lambda x: shape({
        'type': 'Polygon',
        'coordinates': [h3.h3_to_geo_boundary(x, geo_json=True)],
        'properties': ''
    }))
visualize_hexagons_8['h3_res_8_geo'] = visualize_hexagons_8['h3_res_8'].apply(
    lambda x: shape({
        'type': 'Polygon',
        'coordinates': [h3.h3_to_geo_boundary(x, geo_json=True)],
        'properties': ''
    }))

visualize_hexagons_6 = visualize_hexagons_6.set_geometry('h3_res_6_geo')
visualize_hexagons_6.crs = 'epsg:4326'

visualize_hexagons_6 = visualize_hexagons_6.to_crs(epsg=3857)

visualize_hexagons_4 = visualize_hexagons_4.set_geometry('h3_res_4_geo')
visualize_hexagons_4.crs = 'epsg:4326'

visualize_hexagons_4 = visualize_hexagons_4.to_crs(epsg=3857)

visualize_hexagons_8 = visualize_hexagons_8.set_geometry('h3_res_8_geo')
visualize_hexagons_8.crs = 'epsg:4326'

visualize_hexagons_8 = visualize_hexagons_8.to_crs(epsg=3857)

figure, ax = plt.subplots(2, 2, figsize=(16, 16))

visualize_hexagons_6.set_geometry('h3_res_6_geo').plot(ax=ax[0, 0],
                                                       edgecolor='black',
                                                       linewidth=1.0,
                                                       alpha=0.3)

figure_pickup_location.plot(color='green',
                            ax=ax[0, 0],
                            marker='o',
                            markersize=7)

#ctx.add_basemap(ax=ax[0,0], zoom=12)

visualize_hexagons_6.set_geometry('h3_res_6_geo').plot(ax=ax[0, 1],
                                                       edgecolor='black',
                                                       linewidth=1.0,
                                                       column='number',
                                                       cmap='Reds',
                                                       alpha=0.6)

#ctx.add_basemap(ax=ax[0,1], zoom=12)

visualize_hexagons_8.set_geometry('h3_res_8_geo').plot(ax=ax[1, 0],
                                                       edgecolor='black',
                                                       linewidth=1.0,
                                                       alpha=0.3)

#ctx.add_basemap(ax=ax[1,0], zoom=12)

visualize_hexagons_4.set_geometry('h3_res_4_geo').plot(ax=ax[1, 1],
                                                       edgecolor='black',
                                                       linewidth=1.0,
                                                       alpha=0.3)

#ctx.add_basemap(ax=ax[1,1], zoom=12)

A resolution of 6 seems reasonable, a resolution of 4 maybe to coarse and a resolution of 8 almost to fine

## Check for duplicates

In [33]:
print(trip_data_raw_geo["trip_id"].nunique()
      )  #20695512 entries in whole dataset -> no duplicates

262349

## Handling missing values

**Missing Trip stimestamp**
only 349 rows so they can be dropped

In [34]:
for element in trip_data_raw_geo.columns:

    print(f"NaN Values in {element}:",
          trip_data_raw_geo[element].isna().sum())

NaN Values in trip_id: 0
NaN Values in taxi_id: 0
NaN Values in trip_start_timestamp: 0
NaN Values in trip_end_timestamp: 0
NaN Values in trip_seconds: 6
NaN Values in trip_miles: 8
NaN Values in pickup_census_tract: 82786
NaN Values in dropoff_census_tract: 82786
NaN Values in pickup_community_area: 211
NaN Values in dropoff_community_area: 774
NaN Values in fare: 12
NaN Values in tips: 12
NaN Values in tolls: 70772
NaN Values in extras: 12
NaN Values in trip_total: 12
NaN Values in payment_type: 0
NaN Values in company: 0
NaN Values in pickup_centroid_location: 0
NaN Values in dropoff_centroid_location: 0
NaN Values in h3_res_4_pickup: 0
NaN Values in h3_res_4_dropoff: 0
NaN Values in h3_res_6_pickup: 0
NaN Values in h3_res_6_dropoff: 0
NaN Values in h3_res_8_pickup: 0
NaN Values in h3_res_8_dropoff: 0

## Check validity/ handle outliers

print(len(trip_data_raw_geo))

Columns that need to be checked for outliers: 
<ol>
    <li> trip_seconds </li>
    <li> trip_miles </li>
    <li> fare </li>
    <li> tips </li>
    <li> tolls </li>
    <li> extras </li>
    <li> trip_total </li>
</ol>

In [35]:
columns_to_check = ['trip_seconds', 'trip_miles', 'fare', 'tips', 'tolls', 'extras', 'trip_total']

columns_to_check = ['trip_seconds', 'trip_miles', 'fare', 'tips', 'tolls', 'extras', 'trip_total']

plt.figure(figsize=(15, 10))

for i, column in enumerate(columns_to_check, 1):
    plt.subplot(3, 3, i)
    sns.boxplot(x=trip_data_raw_geo[column])
    plt.title(f'Boxplot of {column}')

plt.tight_layout()
plt.show()

def detect_outliers_iqr(df, columns):
    outlier_info = {}
    for column in columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        outlier_info[column] = {
            'lower_bound': lower_bound,
            'upper_bound': upper_bound
        }
            
    return outlier_info

outlier_info = detect_outliers_iqr(trip_data_raw_geo, columns_to_check)

for column, info in outlier_info.items():
    print(f'Column: {column}')
    print(f'Lower bound for outliers: {info["lower_bound"]}')
    print(f'Upper bound for outliers: {info["upper_bound"]}')

def drop_outliers(df, outlier_info):
    for column, info in outlier_info.items():
        total_outliers = len(df[(df[column] < info["lower_bound"]) | (df[column] > info["upper_bound"])].index)
        print(f"{column} has {total_outliers} outlier")
    for column, info in outlier_info.items():
        df = df[(df[column] >= info["lower_bound"]) & (df[column] <= info["upper_bound"])]
    print("Removed all rows that had one or more outlier value.")
    return df

trip_data_raw_geo = drop_outliers(trip_data_raw_geo, outlier_info)

trip_data_raw_geo.head(3)

len(trip_data_raw_geo[(trip_data_raw_geo["tolls"] != 0) & (~np.isnan(trip_data_raw_geo["tolls"]))])
#THERE ARE 28/300000 TRIPS WHERE TOLLS IS NOT 0 or NAN. DROP ?

print(len(trip_data_raw_geo))

## Join Datasets

In [36]:
trip_data_raw_geo.sort_values(by='trip_start_timestamp', inplace=True)
weather_data.sort_values(by='date', inplace=True)

merged_data = pd.merge_asof(left=trip_data_raw_geo,
                            right=weather_data.loc[:, ('date', 'temperature',
                                                       'precipitation')],
                            left_on='trip_start_timestamp',
                            right_on='date',
                            direction='nearest')

Sports and POI Data can be joined on the smallest h3 resolution due to the hierarchical structure of the h3. However, on the edges this can lead to some inaccuracies in particular cases

In [37]:
# join Sports Data
merged_data['Game_End'] = merged_data['trip_start_timestamp'].dt.floor('H')

merged_data = merged_data.merge(sports_data, on=['Game_End', 'h3_res_8_pickup'], how = 'left')

In [38]:
# join POI Data

merged_data = merged_data.merge(poi_data_h3_res_8, on='h3_res_8_pickup', how = 'left')
merged_data = merged_data.merge(poi_data_h3_res_6, on='h3_res_6_pickup', how = 'left')
merged_data = merged_data.merge(poi_data_h3_res_4, on='h3_res_4_pickup', how = 'left')

In [39]:
merged_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 262349 entries, 0 to 262348
Data columns (total 33 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   trip_id                    262349 non-null  object
 1   taxi_id                    262349 non-null  object
 2   trip_start_timestamp       262349 non-null  datetime64[ns]
 3   trip_end_timestamp         262349 non-null  datetime64[ns]
 4   trip_seconds               262343 non-null  float64
 5   trip_miles                 262341 non-null  float64
 6   pickup_census_tract        179563 non-null  float64
 7   dropoff_census_tract       179563 non-null  float64
 8   pickup_community_area      262138 non-null  float64
 9   dropoff_community_area     261575 non-null  float64
 10  fare                       262337 non-null  float64
 11  tips                       262337 non-null  float64
 12  tolls                      191577 non-null  float64
 13  extras                     262337 non-null  float64
 14  trip_total                 262337 non-null  float64
 15  payment_type               262349 non-null  category
 16  company                    262349 non-null  category
 17  pickup_centroid_location   262349 non-null  geometry
 18  dropoff_centroid_location  262349 non-null  geometry
 19  h3_res_4_pickup            262349 non-null  object
 20  h3_res_4_dropoff           262349 non-null  object
 21  h3_res_6_pickup            262349 non-null  object
 22  h3_res_6_dropoff           262349 non-null  object
 23  h3_res_8_pickup            262349 non-null  object
 24  h3_res_8_dropoff           262349 non-null  object
 25  date                       262349 non-null  datetime64[ns]
 26  temperature                262349 non-null  float64
 27  precipitation              262349 non-null  float64
 28  Game_End                   262349 non-null  datetime64[ns]
 29  sports_event               124 non-null     float64
 30  poi_h3_res_8               255394 non-null  float64
 31  poi_h3_res_6               262344 non-null  float64
 32  poi_h3_res_4               262349 non-null  int64
dtypes: category(2), datetime64[ns](4), float64(16), geometry(2), int64(1), object(8)
memory usage: 62.6+ MB

In [40]:
merged_data['sports_event'].fillna(0, inplace=True)
merged_data['poi_h3_res_8'].fillna(0, inplace=True)
merged_data['poi_h3_res_6'].fillna(0, inplace=True)
merged_data['poi_h3_res_4'].fillna(0, inplace=True)

In [41]:
merged_data.head(3)

,trip_id,taxi_id,trip_start_timestamp,trip_end_timestamp,trip_seconds,trip_miles,pickup_census_tract,dropoff_census_tract,pickup_community_area,dropoff_community_area,...,h3_res_8_pickup,h3_res_8_dropoff,date,temperature,precipitation,Game_End,sports_event,poi_h3_res_8,poi_h3_res_6,poi_h3_res_4
0,0a0a2ca50df85134ce34f0c2c7bda6e78ca2a52c,bbe793119144e0bd97a4268af2a28ed0f3dad49545592c...,2018-01-01 00:15:00,2018-01-01 00:15:00,180.0,0.0,1.703108e+10,1.703132e+10,8.0,32.0,...,882664c1e1fffff,882664c1e3fffff,2018-01-01 01:53:00,-18.333333,0.0,2018-01-01,0.0,150.0,871.0,3458
1,a5b4be67307f4c9932bf8b0c9c58729ee79bac3e,25d74a973ea35a737ff283e6ad69353bd17607b65f515d...,2018-01-01 00:15:00,2018-01-01 00:30:00,1114.0,2.1,1.703108e+10,1.703107e+10,8.0,7.0,...,882664c1e1fffff,882664c115fffff,2018-01-01 01:53:00,-18.333333,0.0,2018-01-01,0.0,150.0,871.0,3458
2,eb95473743ae36841a89c9c31e373d09a6cddee3,91f06db58053143c1ed5453714469f839b2b1ed1cdd93f...,2018-01-01 00:15:00,2018-01-01 00:30:00,232.0,0.5,1.703108e+10,1.703108e+10,8.0,8.0,...,882664c1e5fffff,882664c1e5fffff,2018-01-01 01:53:00,-18.333333,0.0,2018-01-01,0.0,55.0,871.0,3458

In [42]:
#merged_data.to_csv("../data/analytics_trip_data.csv",index=False) #Export for Task 2

# Feature Engineering & Selection

## Prediction Task

In [43]:
# select only the relevant features
prediction_data_raw = merged_data.loc[:, ('trip_start_timestamp', 'h3_res_4_pickup',
                                          'h3_res_6_pickup', 'h3_res_8_pickup',
                                          'temperature', 'precipitation','poi_h3_res_4', 
                                          'poi_h3_res_6', 'poi_h3_res_8','sports_event')]
prediction_data_raw["number_of_trips"] = 1

prediction_data_raw['weekday'] = prediction_data_raw['trip_start_timestamp'].dt.weekday
prediction_data_raw['month'] = prediction_data_raw['trip_start_timestamp'].dt.month

time_periods = [1, 2, 6, 24] # time bins we want to predict the demand for
resolution = ['h3_res_4', 'h3_res_6', 'h3_res_8'] # spatial resolution we want to predict the demand for

In [44]:
prediction_data_raw.head()

,trip_start_timestamp,h3_res_4_pickup,h3_res_6_pickup,h3_res_8_pickup,temperature,precipitation,poi_h3_res_4,poi_h3_res_6,poi_h3_res_8,sports_event,number_of_trips,weekday,month
0,2018-01-01 00:15:00,842664dffffffff,862664c1fffffff,882664c1e1fffff,-18.333333,0.0,3458,871.0,150.0,0.0,1,0,1
1,2018-01-01 00:15:00,842664dffffffff,862664c1fffffff,882664c1e1fffff,-18.333333,0.0,3458,871.0,150.0,0.0,1,0,1
2,2018-01-01 00:15:00,842664dffffffff,862664c1fffffff,882664c1e5fffff,-18.333333,0.0,3458,871.0,55.0,0.0,1,0,1
3,2018-01-01 00:15:00,842664dffffffff,862664c1fffffff,882664c1edfffff,-18.333333,0.0,3458,871.0,48.0,0.0,1,0,1
4,2018-01-01 00:15:00,842664dffffffff,862664c1fffffff,882664c1e9fffff,-18.333333,0.0,3458,871.0,18.0,0.0,1,0,1

### Create different Time Bins

In [45]:
prediction_data = {}
for period in time_periods:
    dict_time_bucket = {}
    for res in resolution:
        df = prediction_data_raw.loc[:, ('trip_start_timestamp', 'temperature',
                                         'precipitation', 'number_of_trips',
                                         'weekday', 'month', f'poi_{res}', 'sports_event', f'{res}_pickup')]
        df = df.rename(columns={f'{res}_pickup': res})

        df['trip_start_timestamp'] = df['trip_start_timestamp'].apply(
            lambda x: x.replace(minute=0, hour=(x.hour // period) * period))
        df['hour'] = df['trip_start_timestamp'].dt.hour
        df = df.groupby(['trip_start_timestamp', res], as_index=True).agg({
            'temperature':
            'mean',
            'precipitation':
            'mean',
            'number_of_trips':
            'sum',
            'weekday':
            'mean',
            'month':
            'mean',
            'hour':
            'mean',
            f'poi_{res}':
            'max',
            'sports_event':
            'max'
        })
        df.reset_index(level=res, inplace=True)
        dict_time_bucket[res] = df

    prediction_data[period] = dict_time_bucket

In [46]:
prediction_data.get(1).get('h3_res_4').head()

,h3_res_4,temperature,precipitation,number_of_trips,weekday,month,hour,poi_h3_res_4,sports_event
trip_start_timestamp,,,,,,,,,
2018-01-01 00:00:00,8426645ffffffff,-18.333333,0.0,2,0.0,1.0,0.0,58,0.0
2018-01-01 00:00:00,842664dffffffff,-18.333333,0.0,2321,0.0,1.0,0.0,3458,0.0
2018-01-01 00:00:00,8427593ffffffff,-18.333333,0.0,35,0.0,1.0,0.0,71,0.0
2018-01-01 01:00:00,8426645ffffffff,-18.333333,0.0,2,0.0,1.0,1.0,58,0.0
2018-01-01 01:00:00,842664dffffffff,-18.333333,0.0,4192,0.0,1.0,1.0,3458,0.0

### Create Cyclical Time Features with Sine and Cosine Transformation

In [47]:
for periods in prediction_data.keys():
    for res in prediction_data.get(periods).keys():
        df = prediction_data.get(periods).get(res)
        if (periods != 24):
            df["hour_sin"] = np.sin(2 * np.pi * df["hour"] / df["hour"].max())
            df["hour_cos"] = np.cos(2 * np.pi * df["hour"] / df["hour"].max())

        df["weekday_sin"] = np.sin(2 * np.pi * df["weekday"] /
                                   df["weekday"].max())
        df["weekday_cos"] = np.cos(2 * np.pi * df["weekday"] /
                                   df["weekday"].max())

        df["month_sin"] = np.sin(2 * np.pi * df["month"] / df["month"].max())
        df["month_cos"] = np.cos(2 * np.pi * df["month"] / df["month"].max())

In [48]:
prediction_data.get(1).get('h3_res_4').head()

,h3_res_4,temperature,precipitation,number_of_trips,weekday,month,hour,poi_h3_res_4,sports_event,hour_sin,hour_cos,weekday_sin,weekday_cos,month_sin,month_cos
trip_start_timestamp,,,,,,,,,,,,,,,
2018-01-01 00:00:00,8426645ffffffff,-18.333333,0.0,2,0.0,1.0,0.0,58,0.0,0.000000,1.000000,0.0,1.0,-2.449294e-16,1.0
2018-01-01 00:00:00,842664dffffffff,-18.333333,0.0,2321,0.0,1.0,0.0,3458,0.0,0.000000,1.000000,0.0,1.0,-2.449294e-16,1.0
2018-01-01 00:00:00,8427593ffffffff,-18.333333,0.0,35,0.0,1.0,0.0,71,0.0,0.000000,1.000000,0.0,1.0,-2.449294e-16,1.0
2018-01-01 01:00:00,8426645ffffffff,-18.333333,0.0,2,0.0,1.0,1.0,58,0.0,0.269797,0.962917,0.0,1.0,-2.449294e-16,1.0
2018-01-01 01:00:00,842664dffffffff,-18.333333,0.0,4192,0.0,1.0,1.0,3458,0.0,0.269797,0.962917,0.0,1.0,-2.449294e-16,1.0

### Create Lagged Time Features

def get_lagged_column(row_index, area, area_column):
    if row_index in df.index:
        trips = df.loc[(df.index == row_index) & (df[area_column] == area),
                       'number_of_trips']
        if len(trips) == 0:
            return None
        else:
            return trips[0]

for periods in prediction_data.keys():
    for res in prediction_data.get(periods).keys():
        df = prediction_data[periods][res]
        if periods != 24:
            df["lagged_" + str(periods) +
               "h"] = df.apply(lambda row: get_lagged_column(
                   row.name - pd.Timedelta(hours=periods), row[res], res),
                               axis=1)
        df["lagged_1day"] = df.apply(lambda row: get_lagged_column(
            row.name - pd.Timedelta(days=1), row[res], res),
                                     axis=1)

In [49]:
def lagged_number_of_trips(group, periods, name):
    group[name] = group['number_of_trips'].shift(periods, fill_value =0)
    return group

In [50]:
for periods in prediction_data.keys():
  for res in prediction_data[periods].keys():

    df = prediction_data[periods][res]

    df = df.groupby(res).apply(lagged_number_of_trips, periods=24, name='lagged_1day')
    df= df.droplevel(res)

    if periods != 24:
        df = df.groupby(res).apply(lagged_number_of_trips, periods=1, name=f'lagged_{periods}h')
        prediction_data[periods][res] = df.droplevel(res)
    else:
        prediction_data[periods][res] = df

### Visualize Relationship between Predictors and dependent Variable

features = list(df.columns)
features.remove('number_of_trips')
features.remove( 'h3_res_4')
fig, ax = plt.subplots(len(features),2, figsize=(14,99))
for i in range(0, len(features)):
    features_grouped = df[[features[i],'number_of_trips']].groupby([features[i]], as_index=False).mean()
    sns.scatterplot(x=df[features[i]], y=df['number_of_trips'], ax=ax[i,0])
    sns.lineplot(x=features_grouped[features[i]], y=features_grouped['number_of_trips'], ax=ax[i,1])

# Export new Datasets

for periods in prediction_data.keys():
    for res in prediction_data.get(period).keys():
        prediction_data.get(periods).get(res).to_csv(f'../data/{periods}hours_{res}.csv', index=True)